{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ========== Favicon ========== -->
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" sizes="any">
    <!-- ========== CSS FontAwesome ========== -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/brands.min.css' %}" />
    <!-- ========== CSS Bootstrap ========== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- ========== CSS Personalizado ========== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Caos News, La voz de todos.{% endblock %} </title>
<body>
<div class="d-flex bg-dark">
  <div class="flex-fill bg-danger">
    {% lorem 1 b random %}
  </div>
  <div class="flex-fill bg-info">
    {% lorem 8 b random %}
  </div>
</div>
</body>
</html>